<a href="https://colab.research.google.com/github/ijazulhaq1/ijazulhaq1/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#lIBRARYS
import nltk
import numpy as np
import pandas as pd
from gensim import corpora, models, similarities

import string
import math
from nltk.stem.wordnet import WordNetLemmatizer
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk import tokenize
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# print entities
# import spacy
import spacy
# load spacy model
nlp = spacy.load('en_core_web_sm')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
#from google.colab import files
#data_to_load = files.upload()

In [ ]:
#df = pd.read_csv(io.BytesIO(data_to_load['datasetOne.csv']))
#print(df)

In [ ]:
# Dummy example data
text =[ "The practice of agriculture and livestock around the city and increase concetration of niterates due to animal manure",
             "Livestock and agriculture with intense production and  increase soil pollutions",
             "There are not enough system for water purification and  this influences the increase of niterats",
             "Agriculture with fertilizers continimates the subsoil of niterates and this reach to the water",
             "axcess fertizer cause contimination in the water",
             "due to increase in nitrogen is the cause of water pollution "
             

]

##Number of sentences

In [ ]:
len(text)

6

##*Common* sentences

In [ ]:
from collections import Counter
Counter(text).most_common(5)

[('The practice of agriculture and livestock around the city and increase concetration of niterates due to animal manure',
  1),
 ('Livestock and agriculture with intense production and  increase soil pollutions',
  1),
 ('There are not enough system for water purification and  this influences the increase of niterats',
  1),
 ('Agriculture with fertilizers continimates the subsoil of niterates and this reach to the water',
  1),
 ('axcess fertizer cause contimination in the water', 1)]

In [ ]:
df = pd.DataFrame(text, columns=['text'])
print(df)

                                                text
0  The practice of agriculture and livestock arou...
1  Livestock and agriculture with intense product...
2  There are not enough system for water purifica...
3  Agriculture with fertilizers continimates the ...
4   axcess fertizer cause contimination in the water
5  due to increase in nitrogen is the cause of wa...

##Data Cleaning and lemmatization

In [ ]:
stop = set(stopwords.words('english'))
exclude = set(string.punctuation)
lemma = WordNetLemmatizer()

def clean(text):
   # text to lower case
    stop_free = ' '.join([word for word in text.lower().split() if word not in stop])
   # Remove  punctuation symbols
    punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
   # Lemmatization
    normalized = ' '.join([lemma.lemmatize(word) for word in punc_free.split()])
    return normalized.split()
clean_text=df['text'].apply(clean)

#create dictionary

In [ ]:
dictionary = corpora.Dictionary(clean_text)
#Total number of non-zeroes in the BOW matrix (sum of the number of unique words per document over the entire corpus).
print(dictionary.num_nnz)
#number of unique words
print(dictionary)

43
Dictionary(30 unique tokens: ['agriculture', 'animal', 'around', 'city', 'concetration']...)

In [ ]:
#Convert document (a list of words) into the bag-of-words format
corpus = [dictionary.doc2bow(text) for text in clean_text]

print(corpus)

[[(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1)], [(0, 1), (6, 1), (7, 1), (11, 1), (12, 1), (13, 1), (14, 1)], [(6, 1), (15, 1), (16, 1), (17, 1), (18, 1), (19, 1), (20, 1)], [(0, 1), (9, 1), (20, 1), (21, 1), (22, 1), (23, 1), (24, 1)], [(20, 1), (25, 1), (26, 1), (27, 1), (28, 1)], [(5, 1), (6, 1), (12, 1), (20, 1), (26, 1), (29, 1)]]

#**Document** term Matrix

In [ ]:
doc_term_matrix = [dictionary.doc2bow(doc) for doc in clean_text ]
print(len(doc_term_matrix))
print(df)

6
                                                text
0  The practice of agriculture and livestock arou...
1  Livestock and agriculture with intense product...
2  There are not enough system for water purifica...
3  Agriculture with fertilizers continimates the ...
4   axcess fertizer cause contimination in the water
5  due to increase in nitrogen is the cause of wa...

###CountVectorizer *Vectorization*

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# create the transform
vectorizer = CountVectorizer()
# tokenize and build vocab
vectorizer.fit(text)
# summarize
print(vectorizer.vocabulary_)
# encode document
matrix = vectorizer.transform(text)
# summarize encoded vector
print(matrix.shape)
print(type(matrix))
print(matrix.toarray())

{'the': 37, 'practice': 30, 'of': 27, 'agriculture': 0, 'and': 1, 'livestock': 21, 'around': 4, 'city': 7, 'increase': 17, 'concetration': 8, 'niterates': 23, 'due': 11, 'to': 40, 'animal': 2, 'manure': 22, 'with': 42, 'intense': 19, 'production': 31, 'soil': 34, 'pollutions': 29, 'there': 38, 'are': 3, 'not': 26, 'enough': 12, 'system': 36, 'for': 15, 'water': 41, 'purification': 32, 'this': 39, 'influences': 18, 'niterats': 24, 'fertilizers': 13, 'continimates': 10, 'subsoil': 35, 'reach': 33, 'axcess': 5, 'fertizer': 14, 'cause': 6, 'contimination': 9, 'in': 16, 'nitrogen': 25, 'is': 20, 'pollution': 28}
(6, 43)
<class 'scipy.sparse.csr.csr_matrix'>
[[1 2 1 0 1 0 0 1 1 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 2 0 0 1 0 0 0 0 0
  0 2 0 0 1 0 0]
 [1 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 0
  0 0 0 0 0 0 1]
 [0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0
  1 1 1 1 0 1 0]
 [1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1
  0 2 0 1 1 1 1]
 [0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 1 0]
 [0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0
  0 1 0 0 1 1 0]]

In [ ]:
counts = pd.DataFrame(matrix.toarray(),
                      columns=vectorizer.get_feature_names())
counts

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   agriculture  and  animal  are  around  ...  there  this  to  water  with
0            1    2       1    0       1  ...      0     0   1      0     0
1            1    2       0    0       0  ...      0     0   0      0     1
2            0    1       0    1       0  ...      1     1   0      1     0
3            1    1       0    0       0  ...      0     1   1      1     1
4            0    0       0    0       0  ...      0     0   0      1     0
5            0    0       0    0       0  ...      0     0   1      1     0

[6 rows x 43 columns]

##euclidean_distances

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
for f in vector:
  print(euclidean_distances(vector[3],f))

[[4.24264069]]
[[4.47213595]]
[[4.35889894]]
[[0.]]
[[4.12310563]]
[[4.12310563]]

#TFIDF Vectorization **

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
# create the transform
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['text'].values)
X.shape
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 37, 'practice': 30, 'of': 27, 'agriculture': 0, 'and': 1, 'livestock': 21, 'around': 4, 'city': 7, 'increase': 17, 'concetration': 8, 'niterates': 23, 'due': 11, 'to': 40, 'animal': 2, 'manure': 22, 'with': 42, 'intense': 19, 'production': 31, 'soil': 34, 'pollutions': 29, 'there': 38, 'are': 3, 'not': 26, 'enough': 12, 'system': 36, 'for': 15, 'water': 41, 'purification': 32, 'this': 39, 'influences': 18, 'niterats': 24, 'fertilizers': 13, 'continimates': 10, 'subsoil': 35, 'reach': 33, 'axcess': 5, 'fertizer': 14, 'cause': 6, 'contimination': 9, 'in': 16, 'nitrogen': 25, 'is': 20, 'pollution': 28}
[1.55961579 1.33647224 2.25276297 2.25276297 2.25276297 2.25276297
 1.84729786 2.25276297 2.25276297 2.25276297 2.25276297 1.84729786
 2.25276297 2.25276297 2.25276297 2.25276297 1.84729786 1.33647224
 2.25276297 2.25276297 2.25276297 1.84729786 2.25276297 1.84729786
 2.25276297 2.25276297 2.25276297 1.33647224 2.25276297 2.25276297
 2.25276297 2.25276297 2.25276297 2.25276297 2.25276297 2.25276297
 2.25276297 1.15415068 2.25276297 1.84729786 1.55961579 1.33647224
 1.84729786]

In [ ]:
countidf = pd.DataFrame(X.toarray(),
                      columns=vectorizer.get_feature_names())
countidf

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   agriculture       and   animal  ...        to     water      with
0     0.190600  0.326660  0.27531  ...  0.190600  0.000000  0.000000
1     0.251394  0.430851  0.00000  ...  0.000000  0.000000  0.297766
2     0.000000  0.176151  0.00000  ...  0.000000  0.176151  0.000000
3     0.229731  0.196862  0.00000  ...  0.229731  0.196862  0.272107
4     0.000000  0.000000  0.00000  ...  0.000000  0.266401  0.000000
5     0.000000  0.000000  0.00000  ...  0.265199  0.227255  0.000000

[6 rows x 43 columns]